<div class="container">
  <div class="left">
    <div class="live-bg"></div>
    <div class="live">
      <mat-icon inline>radio_button_checked</mat-icon>
      <p>NO AR</p>
    </div>

    <div class="schedule">
      <mat-icon inline>tv</mat-icon>
      <p><span id="name">ENCONTRO</span> - <span id="time">10:00</span></p>
    </div>

    <div class="updated">
      <mat-icon inline>update</mat-icon>
      <p>Última atualização em <span id="time">10:28</span></p>
    </div>
  </div>

  <div class="right">
    <p>{{dayWeek}}, <span>{{dayMonth}}</span> de <span>{{month}}</span> de <span>{{year}}</span></p>
    <p class="hour">// {{hour | async}}</p>
  </div>
</div>
